@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav {
  width: calc(100% - 300px);
}

.nav2 {
  width: calc(100% - 84px);
}